
@{
    ViewBag.Title = "CV";
}

<div>
    <img src="/upload/ashesh.jpg" style="max-width:100%;height:250px; ">

</div>
<div class="col-sm-4">
    <h2>
        Personal Details:
    </h2>
</div>
<div class="col-sm-4">
    <h4>
        Name: Kajol Ashesh Talukdar<br />
        Father's name-Bishwanath Talukdar<br />
        Mother's name-Shandhya Mondal<br />
        Nationality-Bangladeshi<br />
        Religion-Hinduism<br />
        Date of birth- 06-01-2000(DD/MON/YY)<br />
        Gender-Male<br />
        Marital Status-Unmarried<br />
        Blood Group-A+<br />
        Occupation-Student<br />
        Email- 19-40459-1@student.aiub.edu<br />
        Address- 161/4/1 ullon road,Rampura,Dhaka<br />
        Phone number-01967132304<br />
    </h4>
</div>
<div>
    <h2>
        Education:
    </h2>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Institute Name</th>
                <th scope="col">Degree</th>
                <th scope="col">Passing year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Rai Bahadur Srinath Institution</td>
                <td>SSC</td>
                <td>2015</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>BCIC College</td>
                <td>HSC</td>
                <td>2017</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>American International University Bangladesh</td>
                <td>BSc CSE</td>
                <td>running</td>
            </tr>
        </tbody>
    </table>

</div>
